In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [12]:
df1 = pd.read_csv('/content/drive/MyDrive/Datasets/EVStats.csv')

In [13]:
df1.replace("Andaman & Nicobar islands", "Andaman and Nicobar Islands", inplace=True)
df1.replace("Jammu & Kashmir", "Jammu and Kashmir", inplace = True)
df1.head()

,Sl. No,State,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
0,1,Meghalaya,0,0,0,0,0,6,0,6
1,2,Nagaland,0,20,3,0,0,1,0,24
2,3,Manipur,16,8,11,0,5,12,0,52
3,4,Tripura,28,9,36,0,0,8,0,81
4,5,Andaman and Nicobar Islands,0,0,0,0,0,82,0,82

In [6]:
df2 = pd.read_csv('/content/drive/MyDrive/Datasets/Merged_EV.csv')
df2.head()

,Unnamed: 0,State Name,No.of Operational Public Charging Stations,state,capital,subsidy,road tax,petrol,diesel
0,0,Andaman and Nicobar Islands,3,Andaman and Nicobar Islands,Port Blair,0.0,0.0,84.10,79.74
1,1,Andhra Pradesh,222,Andhra Pradesh,Amaravati,0.0,1.0,111.65,99.41
2,2,Arunachal Pradesh,9,Arunachal Pradesh,Itanagar,5000.0,0.0,95.89,84.81
3,3,Assam,48,Assam,Dispur,10000.0,1.0,96.34,84.24
4,4,Bihar,83,Bihar,Patna,10000.0,1.0,109.17,95.82

In [22]:
df = pd.merge(left=df2, right=df1, how='left', left_on='State Name', right_on='State')
df.head()

,Unnamed: 0,State Name,No.of Operational Public Charging Stations,state,capital,subsidy,road tax,petrol,diesel,Sl. No,State,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
0,0,Andaman and Nicobar Islands,3,Andaman and Nicobar Islands,Port Blair,0.0,0.0,84.10,79.74,5.0,Andaman and Nicobar Islands,0.0,0.0,0.0,0.0,0.0,82.0,0.0,82.0
1,1,Andhra Pradesh,222,Andhra Pradesh,Amaravati,0.0,1.0,111.65,99.41,20.0,Andhra Pradesh,431.0,692.0,4689.0,0.0,0.0,3680.0,0.0,9492.0
2,2,Arunachal Pradesh,9,Arunachal Pradesh,Itanagar,5000.0,0.0,95.89,84.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Assam,48,Assam,Dispur,10000.0,1.0,96.34,84.24,11.0,Assam,463.0,138.0,1006.0,0.0,117.0,151.0,0.0,1875.0
4,4,Bihar,83,Bihar,Patna,10000.0,1.0,109.17,95.82,13.0,Bihar,252.0,430.0,2148.0,6.0,64.0,271.0,0.0,3171.0

In [23]:
df = df.drop('state', axis = 1)
df = df.drop('capital', axis = 1)
df = df.drop('Sl. No', axis = 1)
df = df.drop('State', axis = 1)
df.head()

,Unnamed: 0,State Name,No.of Operational Public Charging Stations,subsidy,road tax,petrol,diesel,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
0,0,Andaman and Nicobar Islands,3,0.0,0.0,84.10,79.74,0.0,0.0,0.0,0.0,0.0,82.0,0.0,82.0
1,1,Andhra Pradesh,222,0.0,1.0,111.65,99.41,431.0,692.0,4689.0,0.0,0.0,3680.0,0.0,9492.0
2,2,Arunachal Pradesh,9,5000.0,0.0,95.89,84.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Assam,48,10000.0,1.0,96.34,84.24,463.0,138.0,1006.0,0.0,117.0,151.0,0.0,1875.0
4,4,Bihar,83,10000.0,1.0,109.17,95.82,252.0,430.0,2148.0,6.0,64.0,271.0,0.0,3171.0

In [25]:
df = df.dropna()

In [29]:
#define predictor and response variables
x = df[['No.of Operational Public Charging Stations', 'subsidy', 'road tax', 'petrol', 'diesel']]
y = df['Total in state']

#add constant to predictor variables
x = sm.add_constant(x)

#fit linear regression model
model = sm.OLS(y, x).fit()

#view model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         Total in state   R-squared:                       0.397
Model:                            OLS   Adj. R-squared:                  0.253
Method:                 Least Squares   F-statistic:                     2.764
Date:                Fri, 12 May 2023   Prob (F-statistic):             0.0453
Time:                        04:08:11   Log-Likelihood:                -280.24
No. Observations:                  27   AIC:                             572.5
Df Residuals:                      21   BIC:                             580.3
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================================================
                                                 coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
const                                      -3.311e+04   3.12e+04     -1.063      0.300   -9.79e+04    3.17e+04
No.of Operational Public Charging Stations    12.8994      5.071      2.544      0.019       2.353      23.446
subsidy                                       -0.0822      0.453     -0.181      0.858      -1.025       0.860
road tax                                    1044.5681   4339.713      0.241      0.812   -7980.359    1.01e+04
petrol                                      -484.8177    532.872     -0.910      0.373   -1592.985     623.350
diesel                                       968.0590    615.540      1.573      0.131    -312.026    2248.144
==============================================================================
Omnibus:                        9.682   Durbin-Watson:                   1.613
Prob(Omnibus):                  0.008   Jarque-Bera (JB):                8.065
Skew:                           1.260   Prob(JB):                       0.0177
Kurtosis:                       3.905   Cond. No.                     9.87e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.87e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Now we can see that the coefficients of the columns "road tax" and "diesel" have the most correlation with number of EVs and the confidence score of "No.of Operational Public Charging Stations" is less than 0.05. So we use these features to cluster the states and address the EV markets accordingly.

In [41]:
sorted_1 = df.sort_values(by="road tax", ascending=False, kind="mergesort")

In [39]:
road_tax1 = sorted_1[:int(len(sorted_1) / 3)]
road_tax1

,Unnamed: 0,State Name,No.of Operational Public Charging Stations,subsidy,road tax,petrol,diesel,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
1,1,Andhra Pradesh,222,0.0,1.0,111.65,99.41,431.0,692.0,4689.0,0.0,0.0,3680.0,0.0,9492.0
3,3,Assam,48,10000.0,1.0,96.34,84.24,463.0,138.0,1006.0,0.0,117.0,151.0,0.0,1875.0
4,4,Bihar,83,10000.0,1.0,109.17,95.82,252.0,430.0,2148.0,6.0,64.0,271.0,0.0,3171.0
5,5,Chandigarh,6,5000.0,1.0,96.20,84.26,612.0,18.0,896.0,0.0,0.0,974.0,0.0,2500.0
7,7,Delhi,1845,10000.0,1.0,96.72,89.62,1395.0,251.0,5018.0,0.0,1.0,12695.0,21.0,19381.0
8,8,Goa,44,8000.0,1.0,97.82,90.37,0.0,0.0,0.0,0.0,0.0,513.0,1.0,514.0
14,14,Karnataka,704,0.0,1.0,102.64,88.55,784.0,1104.0,3252.0,2.0,0.0,8242.0,2.0,13386.0
18,18,Maharashtra,660,5000.0,1.0,111.18,95.66,2630.0,2097.0,10146.0,6.0,3.0,19129.0,2.0,34013.0
20,20,Meghalaya,19,4000.0,1.0,95.06,83.28,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0

These states have high road tax, so these states are in the infrastructure construction phase and they can be a sink for a new EV market.

In [34]:
sorted_2 = df.sort_values(by="diesel", ascending=True, kind="mergesort")

In [42]:
diesel1 = sorted_2[:int(len(sorted_2) / 3)]
diesel1

,Unnamed: 0,State Name,No.of Operational Public Charging Stations,subsidy,road tax,petrol,diesel,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
0,0,Andaman and Nicobar Islands,3,0.0,0.0,84.10,79.74,0.0,0.0,0.0,0.0,0.0,82.0,0.0,82.0
11,11,Himachal Pradesh,27,5000.0,0.0,95.74,81.99,0.0,0.0,0.0,0.0,0.0,98.0,0.0,98.0
20,20,Meghalaya,19,4000.0,1.0,95.06,83.28,0.0,0.0,0.0,0.0,0.0,6.0,0.0,6.0
3,3,Assam,48,10000.0,1.0,96.34,84.24,463.0,138.0,1006.0,0.0,117.0,151.0,0.0,1875.0
5,5,Chandigarh,6,5000.0,1.0,96.20,84.26,612.0,18.0,896.0,0.0,0.0,974.0,0.0,2500.0
12,12,Jammu and Kashmir,24,0.0,0.0,100.94,86.09,2.0,76.0,152.0,0.0,0.0,208.0,0.0,438.0
24,24,Punjab,126,0.0,1.0,96.26,86.63,698.0,300.0,1968.0,0.0,5.0,3567.0,0.0,6538.0
21,21,Nagaland,6,5000.0,0.0,98.28,86.65,0.0,20.0,3.0,0.0,0.0,1.0,0.0,24.0
19,19,Manipur,16,5000.0,0.0,101.22,87.16,16.0,8.0,11.0,0.0,5.0,12.0,0.0,52.0

These states have high fuel prices, which bears the adjascent public sentiment of shifting to EVs, so, these can be a new market for EVs.

In [44]:
sorted_3 = df.sort_values(by="No.of Operational Public Charging Stations", ascending=False, kind="mergesort")

In [45]:
charging_station1 = sorted_3[:int(len(sorted_3) / 3)]
charging_station1

,Unnamed: 0,State Name,No.of Operational Public Charging Stations,subsidy,road tax,petrol,diesel,Two Wheelers (Category L1 & L2 as per Central Motor Vehicles Rules,Two Wheelers (Category L2 (CMVR)),Two Wheelers (Max power not exceeding 250 Watts),Three Wheelers (Category L5 slow speed as per CMVR),Three Wheelers (Category L5 as per CMVR),Passenger Cars (Category M1 as per CMVR),Buses,Total in state
7,7,Delhi,1845,10000.0,1.00,96.72,89.62,1395.0,251.0,5018.0,0.0,1.0,12695.0,21.0,19381.0
14,14,Karnataka,704,0.0,1.00,102.64,88.55,784.0,1104.0,3252.0,2.0,0.0,8242.0,2.0,13386.0
18,18,Maharashtra,660,5000.0,1.00,111.18,95.66,2630.0,2097.0,10146.0,6.0,3.0,19129.0,2.0,34013.0
27,27,Tamil Nadu,441,0.0,1.00,103.62,95.24,491.0,863.0,8260.0,0.0,0.0,7132.0,0.0,16746.0
31,31,Uttar Pradesh,406,0.0,0.75,96.38,89.55,2954.0,2355.0,15199.0,117.0,139.0,5445.0,0.0,26209.0
28,28,Telangana,365,0.0,1.00,111.97,99.97,535.0,711.0,2256.0,2.0,0.0,5530.0,0.0,9034.0
10,10,Haryana,232,0.0,0.00,97.24,90.08,3162.0,1504.0,13908.0,113.0,24.0,4878.0,0.0,23589.0
1,1,Andhra Pradesh,222,0.0,1.00,111.65,99.41,431.0,692.0,4689.0,0.0,0.0,3680.0,0.0,9492.0
9,9,Gujarat,195,10000.0,0.50,96.49,92.23,7182.0,217.0,8476.0,0.0,4.0,15388.0,0.0,31267.0

These states have more number of charging stations, and for a new EV startup it will be easier to access the charging stations rather than building the stations from scratch.

In [51]:
x = set(road_tax1['State Name'])
y = set(diesel1['State Name'])
z = set(charging_station1['State Name'])

print(x.intersection(y))
print(y.intersection(z))
print(x.intersection(z))

{'Chandigarh', 'Assam', 'Meghalaya'}
set()
{'Maharashtra', 'Karnataka', 'Delhi', 'Andhra Pradesh'}

So, it will be better to target the states of Chandigarh, Maharasthra, Karnataka for a entry point for a EV startup